flex-v-space($args...)
  
  for $value in $args
    $scalar = unit($value, '')  
    $units = unit($value)
    
    &&--v-space-{$units}-{$scalar}
      margin-top ($value * -1) !important
      
      & > ^[0]__item
        padding-top $value